* {
  vertical-align: top;
  box-sizing: border-box;
  /*font-family: Ubuntu;*/
  font-family: "Open Sans";
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  color: #4f1149 ; /*rgba(255, 255, 255, 0.9);*/
  transition-duration: 0.5s; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: url('https://digitshack.com/codepen/bmical/bg.png');
  background: url('https://raw.githubusercontent.com/Tommy-Ngx/BML_data/main/healthwallpaper4.png');
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(197, 234, 249, 1));
  
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  width: 410px;
  background-color: #f0f1f2; /*#f0f1f2 #4b0652 */
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden; }
.card{
  box-shadow:  9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5)
}

.screen_1 {
  right: 0px; }

.screen_2 {
  width: 100%;
  height: 426px;
  position: absolute;
  left: 100%;
  bottom: 75px;
  background-color: #f0f1f2; }

.resultTitle {
  font-size: 22px;
  color: #4f1149;
  margin: 37px 0px 00px 30px;
  text-align: left; }

.blockOutside {
  padding: 5px 25px; }

.blockInside {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 17px 0px 5px 0px; 
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(255, 255, 255, 0.3);}

.resultRange {
  font-size: 18px;
  font-weight: 700; }

.resultBMI {
  font-size: 40px;
  font-weight: 700;
  color: #4f1149; }

.suggestBMI {
  padding: 20px 0px; }
  .suggestBMI span {
    color: #4f1149; }

.suggestion {
  padding: 20px;
  color: #4f1149; }
.suggestTitle {
  font-size: 20px;
}
.resultTitle i {
    position: relative;
    color: #821377;
    font-size: 20px;
    left: -5px;
    top: 5px; 
    text-shadow:    0 0 7px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      
      }
    .resultTitle i:hover {
      color: #E81D58;
      text-color:#E81D58;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
      }

.title {
  padding: 27px 0px 10px 0px; 
  }
  .title i {
    
    color: #821377;
    font-size: 20px;
    /*
    position: absolute;
    left: 15px;
    top: 25px;*/ 
    text-shadow:    0 0 7px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      
      }
  .title i:hover {
      color: #E81D58;
      text-color:#E81D58;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
      }

.genderBlock {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(149, 146, 150, 0.4);
  margin: 10px auto;
  padding: 10px;
  border: solid 2px transparent; 
  color: white; 
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(255, 255, 255, 0.3);}
  .genderBlock:hover {
    border-color: rgba(142, 34, 246, 0.75);
    filter: brightness(130%)
    }
  .genderBlock i {
    font-size: 50px; }
  .genderBlock .genderText {
    top: 10px; }

.genderClicked {
  background-color: rgba(204, 192, 20, 0.75);
  color: white;
  filter: brightness(110%);}

.blockText {
  font-size: 21px;
  margin-bottom: 5px; }

.heightBlock, .tscoreBlock, .tuoiBlock {
  width: 205px;
  height: auto;
  border-radius: 5px;
  background-color: rgba(149, 146, 150, 0.4); /*rgba(255, 255, 255, 0.15) */
  margin: 10px auto;
  padding: 10px; 
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(255, 255, 255, 0.3);}
  .heightBlock .heightInput, .tscoreBlock .tscoreInput , .tuoiBlock .tuoiInput  {
    background-color: transparent;
    font-size: 30px;
    font-weight: 700;
    color: #4f1149;
    width: 100%;
    border-color: transparent transparent #210b1f transparent;
    border-width: 1px; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
  font-weight: 100;
  color: darkblue;
}
::placeholder { /* firefox*/
  font-size: 15px;
  font-weight: 100;
  color: #7a6e79;
}


.weightBlock, .ageBlock {
  width: 100px;
  height: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 10px auto;
  padding: 10px;
  display: inline-block; }

.weightNum, .ageNum {
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF; }

.circleBtn {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 25px;
  font-weight: 300;
  border-radius: 100%;
  margin-top: 10px; }
  .circleBtn:hover {
    background-color: #E81D58;
    user-select: none;
    cursor: pointer; }

.calculateBtn {
  padding: 20px 0px;
  margin-top: 20px;
  background-color: #6613a4;
  border: solid 1px transparent; 
  color: #FFFFFF; }
  .calculateBtn:hover {
    cursor: pointer;
    
    
    
    transition:all .5s ease-in-out;
    filter: brightness(160%);
    text-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    /*
    background-color: white;
    color: #911de8; 
    border-color: #ffff;
    border-radius: 3px;
    */
  }


.semi-donut {
  --percentage: 0;
  --fill: #ff0;
  width: 150px;
  height: 75px;
  margin: auto;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
  color: var(--fill);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
.semi-donut:after {
  content: "";
  width: 150px;
  height: 150px;
  border: 20px solid;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transform: rotate(calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ));
  animation: fillAnimation 5s ease-in;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.25);
}


@keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(135deg);
  }
}
@keyframes fillGraphAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}




.tooltip {
  width: 10px;
  height: 0px;
  top:-10px;
  position: relative;
  display: inline-block;
  float: inline;
  vertical-align: top;
  font-size: 2.0rem;
  color: darkred;
  

  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  font-size: 13px;
  padding: 2px 5px 2px 5px;
  background-color: #74488D;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  /*box-shadow: 120px 80px 40px 20px #0ff;*/
  /*padding: 5px 0;*/

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;}


