*
{
    box-sizing: border-box;
}
html body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
body
{
     /* margin: 0;
    padding: 0; */
}
.infomation-result
{
    padding: 0 40px;
    border: black solid 1px;
    border-radius: 10px;
}
.infomation-result h2{
    text-align: center;
}
.infomation-result p{
    font-size: 20px;
}
.infomation-result .value{
    margin: 10px 0px;
}
.infomation-result .actual-bmd{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: -50px; */
}

.hidden-print{
    display: none;
}
@media print{
    
    .hidden-print{
        display: block !important;
    }
    .result-page{
        display: none;
    }
    .navbar{
        display: none;
    }
    .copyright ,#pricing
    {
        display: none;
    }
    .infomation-result{
        margin-top: 55px;
    }
    #second-chart{
        margin-top: 500px;
    }
}