@media only screen and (max-width:1550px)
{
   
}
@media only screen and (max-width:767px)
{
    .well{
        margin-top: 400px;
    }
    .space{
        margin-top: 0px;
    }
}
*
{
    box-sizing: border-box;
}
body
{
     /* margin: 0;
    padding: 0; */
}
.infomation-result
{
    padding: 0 20px;
    border: black solid 1px;
    border-radius: 10px;
}
.infomation-result h2{
    text-align: center;
}
.infomation-result p{
    font-size: 20px;
}
.infomation-result .value{
    margin: 10px 0px;
}
.infomation-result .actual-bmd{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: -50px; */
}

.hidden-print{
    display: none;
}
@media print{
    .noPrint{
        display:none;
    }
    .hidden-print{
        display: block;
    }
    .result-page{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .footer-distributed
    {
        display: none;
    }
    .infomation-result{
        margin-top: -160px;
    }
}