html, body{ 
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #3c3939;
    /* background:  linear-gradient(rgba(255, 255, 255, 1), rgba(197, 234, 249, 1)); */
      justify-content: center;
      align-items: center;
}
.profile-card{
width: 400px;
margin: auto;
background: #fff;
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
background:  linear-gradient(rgba(255, 255, 255, 1), rgba(197, 234, 249, 1));
background: #f0f1f2;
}

.image-container{
position: relative;
}
.info{
color: #6613a4;
margin-right: 16px;
}
.main-container{
padding: 20px;
}
h2{
color: #607D8B;
}
.skill-bar{
background-color: #9FA8DA;
border-radius: 16px;
}

.skill-bar{
background-color: #9FA8DA;
border-radius: 16px;
}

.progress-bar{
padding: 0.1em 16px;
border-radius: 16px;
text-align: center;
color: #fff;
background-color: #097008;
}


.progress-bar2{
padding: 0.1em 16px;
border-radius: 16px;
text-align: center;
color: #fff;
background-color: #be1010;
}

.title{
top: 2rem;
position: relative;
left: 15px;
bottom: 0;
}